
.o_list_compact th,
.o_list_compact td {
    text-align: left;
    font-size: 16px; 
    padding: 5px 8px !important; 
}

.o_list_compact th {
    background-color: #fafdff !important; 
    font-weight: 600 !important;
    text-align: center !important;
    border-bottom: 2px solid #f8f8f8 !important; 
}

.o_list_compact td {
    padding: 6px 8px !important; 
    vertical-align: middle !important;
}